.auth-page {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
  .auth-page {
    > div {
      max-width: 100% !important;
      padding: var(--page-content-spacing-collapsed);
      .icon-logo {
        height: 40px !important;
      }
      .ant-card {
        &-body {
          padding: var(--page-content-spacing-collapsed) !important;
        }
      }
    }
  }
}