.ant-layout-footer {
  background: none !important;
  position: fixed;
  bottom: 0;
  left: var(--sidebar-width);
  right: 0px;
  z-index: 998;
  .admin-layout-footer {
    height: var(--footer-height) !important;
    line-height: var(--footer-height) !important;
    padding: var(--page-content-spacing-collapsed) var(--page-content-spacing);
    background-color: white !important;
    border-top: 1px solid var(--border-color);
  }
}

.admin-layout-center-collapsed {
  .ant-layout-footer {
    left: var(--sidebar-width-collapsed);
  }
}

@media only screen and (max-width: 768px) {
  .ant-layout-footer {
    left: 0 !important;
    .admin-layout-footer {
      padding: var(--page-content-spacing-collapsed) !important;
    }
  }
}
