:root {
  --sidebar-background-color: #FFFFFF;
  --sidebar-menu-color: #000000;
  --sidebar-menu-group-color: #8c909c;
  --sidebar-menu-active-background-color: #F5F5F5;
  --border-color: #E5E5E5;
  --gray-default-color: #8c8c8c
}
