.text-limited {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  &__2 {
    -webkit-line-clamp: 2;
  }

  &__3 {
    -webkit-line-clamp: 3;
  }

  &__4 {
    -webkit-line-clamp: 4;
  }
}

.text-gray {
  color: var(--gray-default-color);
}

.layout-content {
  min-height: auto;
  max-height: 100%;
  overflow: auto;
  padding: var(--default-spacing) var(--page-content-spacing);
  padding-bottom: 48px;
}

.welcome-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;

  &__bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40vw;
    height: 40vh;
    background-image: url('../images/welcome-bg-bl.svg');
    background-repeat: no-repeat;
    background-position: left 0px bottom 0px;
  }

  &__center {
    background-image: url('../images/welcome-bg-cl.svg');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    z-index: 100;

    &--left {
      background-color: white;
      border-radius: 8px;
      border: 1px solid #0000;
      background:
        linear-gradient(white, white) padding-box,
        linear-gradient(rgba(38, 131, 52, 1), rgba(38, 131, 52, 0), rgba(38, 131, 52, 1)) border-box;
    }
  }

  &__top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60vw;
    height: 50vh;
    background-image: url('../images/welcome-bg-tr.svg');
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
  }
}

.steps-2fa {
  .ant-steps-item {
    .ant-steps-item-container {
      .ant-steps-item-content {
        padding-bottom: 24px;

        .ant-steps-item-title {
          width: 100%;
          padding-inline-end: 0px !important;

          .ant-collapse {
            height: 32px;

            .ant-collapse-item {
              height: 100%;

              .ant-collapse-header {
                padding: 0;
                height: 100%;
                align-items: center;
              }

              .ant-collapse-content {
                .ant-collapse-content-box {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout-content {
    padding: var(--page-content-spacing-collapsed) !important;
  }
}