.ant-layout-sider {
  &.ant-layout-sider-collapsed {
    .ant-layout-sider-children {
      .admin-layout-sidebar-top {
        height: var(--sidebar-top-height-collapsed);
        display: block;
        .ant-space {
          width: 100%;
          justify-content: center;
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  .ant-layout-sider-children {
    .admin-layout-sidebar-top {
      height: var(--sidebar-top-height);
      padding:  12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ant-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--sidebar-menu-color);
        &.ant-btn-lg {
          width: 48px;
          height: 48px;
        }
        .icon-logo {
          width: 32px;
        }
        &.ant-btn-icon-only {
          &.avatar-button {
            height: 40px !important;
            width: 40px !important;
          }
          .ant-avatar {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
