
.ant-form-item-has-error {
  .phone-input {
    border: 1px solid #ff7875 !important;

    &:hover {
      box-shadow: 0 0 0 2px #ff777523;
    }
  }
}

.ant-form-item-explain-error {
  font-size: 12px !important;
}

.ant-form-item-required {
  align-items: start !important;
  &::before {
    padding-top: 4px;
  }
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}
